<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://mybatis.org/schema/mybatis-spring
         http://mybatis.org/schema/mybatis-spring.xsd
         http://www.springframework.org/schema/context
          https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--连接池 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="jdbc:mysql://localhost:3306/homework"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <!-- SqlSessionFactoryBean -->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sessionFactory">
        <property name="dataSource" ref="dataSource"/>
        <!--配置映射文件路径 -->
        <property name="mapperLocations" value="classpath*:empMapper.xml"/>
<!--        &lt;!&ndash;配置事务 &ndash;&gt;-->
<!--        <property name="configLocation">-->
<!--            <bean class="org.apache.ibatis.session.Configuration">-->
<!--                <property name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl"/>-->
<!--                <property name="mapUnderscoreToCamelCase" value="true"/>-->
<!--            </bean>-->
<!--        </property>-->

        <!--配置插件 -->
        <property name="plugins">
            <bean class="com.github.pagehelper.PageInterceptor">
                <property name="properties">
                    <props>
                        <prop key="supportMethodsArguments">true</prop>
                        <prop key="resonable">true</prop>
                    </props>
                </property>
            </bean>
        </property>
    </bean>

    <!--映射文件所对应的 dao -->
    <mybatis:scan base-package="com.dao"/>
    <!--开启地洞识别 spring 注解的功能 -->
    <context:component-scan base-package="com"/>

    <!--资源视图处理器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--处理日期转换 json 问题 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="dateFormat">
                            <bean class="java.text.SimpleDateFormat">
                                <constructor-arg name="pattern" value="yyyy-MM-dd"/>
                            </bean>
                        </property>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 处理静态资源文件-->
    <mvc:resources mapping="/static/**" location="/file/"/>
</beans>